<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Oh My Klout!!!</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/js/jqfloat.min.js"></script>
		<script>
		  $(document).ready(function() {
		    $('img.ASTEROIDSYEAH').parent().parent().hide();
		    $('.circle').jqFloat({
      		width:400,
      		height:100,
      		speed:1500
      	});
		    
		    
		  });
		  
		</script>
	</head>
	
	<body>
		<div class="container">
			<div class="row">
				<h1 class="hero-unit">Oh My Klout!!!
				  <p>ZOMG I AM IMPORTANT</p>
				</h1>
				
				<%= yield %>
			</div>
		</div>
		
	</body>
</html>
