<form class="well form-search" method="post" action="/klout">
  <large><strong>Twitter Username:</strong></large>&nbsp;&nbsp;
  <input type="text" class="input-medium search-query" name="username">
  <button type="submit" class="btn">FIRE AWAY!</button>
</form>